* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700px;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    color: #FFFFFF;
}

/* header & nav style */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 226px;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* header banner */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.b-title {
    font-weight: 700;
    font-size: 85px;
}

.b-subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.b-des{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

img{
    width: 400px;
}